


<div class="row">
  <div class="box">
    <h2 class="brand-before"><small>Welcome to</small></h2>
    <h1 class="brand-name">Your Cookbook</h1>
    <a href="/recipes">Add a Recipes</a>
    <a href="/ingredients">Your Pantry</a>
    <a href="/tags">Search Tags</a>
  </div>
</div>
