/*body {
  background-image: url("https://unsplash.it/1980/1080/?image=292");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}*/

header {
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}

.index  {
  text-align: center;
  margin-top: 50px;
}

.main {

}

.col-md-4 {
  padding-top: 30px;
}

form {
  display: inline;
}
